<main id="main" class="main">
  <div class="tiles">
    <div class="tile is-ancestor" >
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical " (click)="goToCategory('piosenki')">
            <article class="tile is-child box">
              <img src="assets/icon/4.png">
              <p class="subtitle" >PIOSENKI</p>
            </article>

          </div>
          <div class="tile is-parent" (click)="goToCategory('techniki')">
            <article class="tile is-child box">

              <img src="assets/icon/5.png">
              <p class="subtitle">TECHNIKI</p>
            </article>
          </div>
         
          <div class="tile is-parent" (click)="goToCategory('zagrywki')">
            <article class="tile is-child box">
              <img src="assets/icon/7.png">
              <p class="subtitle">ZAGRYWKI</p>
            </article>
          </div>
          <div class="tile is-parent " (click)="goToCategory('teoria')">
            <article class="tile is-child box">
              <img src="assets/icon/10.png">
              <p class="subtitle">TEORIA</p>

            </article>

          </div>
          <div class="tile is-parent" (click)="goToCategory('sprzet')">
            <article class="tile is-child box">
              <img src="assets/icon/6.png">
              <p class="subtitle">O SPRZĘCIE</p>
            </article>
          </div>
        </div>

      </div>
    </div>
  </div>
 
  <section class="lesson">
    <div class="title">Ostatnio dodane lekcje</div>
    <section class="lesson">
    <div class="container has-text-centered">
      <div class="columns">
        <ng-container class="column is-4"  *ngFor="let lesson of lessons.slice(0, 3)">
          <div class="lesson-card">
            <div class="date">
              <h3>{{lesson.date |date:  "dd" }}</h3>
              <h4>{{lesson.date |date:  "MMMM" }}</h4>
            </div>
            <div class="lesson-img">
              <!--<img src="https://light.one.pl/lessonAttachment/{{lesson.attachment}}" alt="P1">-->
              <img src="https://i.guim.co.uk/img/media/13223421bfc4bd1c8cee8945a6fc446adc3e83da/0_193_2879_1727/master/2879.jpg?width=620&quality=45&dpr=2&s=none">
            </div>
            <h2>{{lesson.title}}</h2>
            <p>{{lesson.content}}</p>
            <a  (click)="goToLesson(lesson.id)" class="read-more">Zobacz więcej<i class="fa fa-caret-right"></i> </a>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  </section>
  <section class="lesson">
    <div class="title">Wszystkie lekcje</div>
    <section class="lesson">
    <div class="container has-text-centered">
      <div class="columns">
        <ng-container class="column is-4"  *ngFor="let lesson of lessons">
          <div class="lesson-card">
            <div class="date">
              <h3>{{lesson.date |date:  "dd" }}</h3>
              <h4>{{lesson.date |date:  "MMMM" }}</h4>
            </div>
            <div class="lesson-img">
              <!--<img src="https://light.one.pl/lessonAttachment/{{lesson.attachment}}" alt="P1">-->
            </div>
            <h2>{{lesson.title}}</h2>
            <p>{{lesson.content}}</p>
            <a  (click)="goToLesson(lesson.id)" class="read-more">Zobacz więcej<i class="fa fa-caret-right"></i> </a>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  </section>
<!--   
  <section *ngIf="usertype==proString || usertype==adminString" class="lesson-create">
   // <div *ngIf="usertype==proString" class="title">Dodaj lekcje</div>
    <div class="title">Dodaj lekcję</div>
    //<form *ngIf="usertype===proString" [formGroup]="lessonsForm" (ngSubmit)="createLesson()"></form>

    <div class="field">
      <label class="label">Tytuł lekcji</label>
      <div class="control has-icons-left has-icons-right">
        <input id="title" class="input" type="text" placeholder="Text input" value="tytuł">
      </div>
    </div>
    
    <div class="field">
      <label class="label">Treść lekcji</label>
      <div class="control has-icons-left has-icons-right">
        <input id="text" class="input" type="text" placeholder="Text input" value="treść">
      </div>
    </div>
    
    <div class="field">
      <label class="label">Kategoria lekcji</label>
      <div class="control">
        <div class="select">
          <select id="category">
            <option>Wybierz kategorię...</option>
            <option>Piosenki</option>
            <option>Techniki</option>
            <option>O sprzęcie</option>
            <option>Zagrywki</option>
            <option>Teoria</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <input class="input" type="file" accept="image/png" id="fileInput">


    </div>

    
    
    
    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" (click) = "createLesson()">Submit </button>
      </div>

    </div>
  </section> -->

  <section class="lesson">
    <div class="title">Dodaj nową lekcje</div>
    <br><br>
  
    
    <div class="card">
      <form [formGroup]="lessonsForm" (ngSubmit)="createLesson()">
        <div class="write-post-container">
          <div class="user-profile">
            <i class="uil uil-edit fa-xl icon-profile"></i>
            <div>
              <p>Jadzia Burak</p>


            </div>
          </div>


          <div class="post-input-container">
            <textarea formControlName="title" type="text" rows="2" placeholder="Dodaj tytuł lekcji"></textarea>
            <textarea formControlName="desc" type="text" rows="3" placeholder="Dodaj opis lekcji"></textarea>
            <textarea formControlName="text" type="text" rows="3" placeholder="Dodaj treść lekcji"></textarea>

            <div class="add-post-links">

              <div class="file">
                <label class="file-label">
                  <input class="file-input" formControlName="attachment" id="selectAvatarPng1" type="file" name="resume" accept=".png">
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-images fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Zdjecie
                      </span>

                    </a>
                  </div>


                </label>

              </div>
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" id="selectAvatarPng2" accept=".mp3">
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-music fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Dźwięk
                      </span>
                    </a>
                  </div>

                </label>

              </div>
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" id="selectAvatarPng3" name="resume" accept=".mp4">
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-video fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Film
                      </span>
                    </a>
                  </div>

                </label>

              </div>
              <div class="file">
                <label class="file-label">
                  <input style="border:none" class="file-input" id="selectAvatarPng4" type="file" name="resume" accept=".pdf" />
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-file-upload-alt fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Dokument
                      </span>
                    </a>
                  </div>

                </label>

              </div>
              <button type="submit" class="button is-primary">Dodaj</button>
            </div>
          </div>

        </div>

      </form>
    </div>

</section>
  
</main>
