/* .card-body {
	padding: 20px 20px 20px 20px;
  }
  .label{
    font-size: 40px;
  }
  .input{
    text-align: top;
  }
  .section {
    padding-right: 250px;
    margin-bottom: 0px;
    padding-bottom: 0px;

  }

  img{
margin-top: 60px;
}
 */
  #main{
  margin: 90px 30px 20px 100px;
 } 

.dash-content .title .text{

  font-size: 24px;
  font-weight: 500;
  color: #626262;
  margin-left: 10px;
  margin-top: 40px;
}
.dash-content .boxes{
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  
}
.dash-content .boxes .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 20px);
  margin-bottom: 0px;
  background-color: white;
}

.box i{
  font-size: 35px;
  color: indigo;
  margin-bottom: 5px;
 
}

.box .text{
  white-space: nowrap;
  font-size: 18px;
font-weight: 500;
color: #626262;
}
.box .number{
  font-size: 40px;
  font-weight: 500;
  color: black;
}
.board{
  width: 100%;
margin: 30px 0 30px 30px;
overflow: auto;
background: #fff;
border-radius: 8px;
border-color: white;
padding: 20px 20px 20px 20px;

}
.card 
{
 
}
table{
  justify-items: stretch;
  
}
.board h5{
font-weight: 600;
font-size: 14px;
}
.board p{
  font-weight: 400;
  font-size: 16px;
  color: #787d8d;
}
thead td{
font-size: 16px;
text-transform: uppercase;
font-weight: 400;
background-color: #f9fafb;
text-align: center;
padding:15px ;
}

tbody tr td{
  padding: 10px 15px;
 text-align: center;
}

 .pro{
  background: #d7fada;
padding: 2px 10px;
display: inline-block;
border-radius: 40px;
counter-reset: #2b2b2b;
 }
.unpro{
  background: #FFD3A7;
padding: 2px 10px;
display: inline-block;
border-radius: 40px;
counter-reset: #2b2b2b;
}
 .ama{
  background: #FAD7F7;
padding: 2px 10px;
display: inline-block;
border-radius: 40px;
counter-reset: #2b2b2b;
}
.adm{
  background: #78D0FB;
padding: 2px 10px;
display: inline-block;
border-radius: 40px;
counter-reset: #2b2b2b;
}