<!-- <aside id="sidebar" class="sidebar"> -->
<!-- <nav class="nav">
      <div  routerLink="/post-feed" class="logo-name">
         <div class="logo-image">
           <img src="../../../assets/logo.png" alt="">
         </div>
         <span class="logo_name">
           DrummersPage
         </span>
         <span>
            <i class=""></i>
         </span>
      
       </div>
      <div class="menu-items">
         <ul class="nav-links">
            <li routerLink="/post-feed">
               <a >
                  <i class="uil uil-estate"></i>
                  <span class="link-name">Home</span>
               </a>
            </li>
            <li routerLink="/signup">
               <a >
                  <i class="uil uil-newspaper"></i>
                  <span class="link-name">Artykuły</span>
               </a>
            </li>
            <li routerLink="/lessons">
               <a>
                  <i class="uil uil-book-open"></i>
                  <span class="link-name">Lekcje</span>
               </a>
            </li>
            <li routerLink="/signup">
               <a>
                  <i class="uil uil-music"></i>
                  <span class="link-name">Zagrywki</span>
               </a>
            </li>
            <li routerLink="/signup">
               <a>
                  <i class="uil uil-user"></i>
                  <span class="link-name">Moje konto</span>
               </a>
            </li>
         </ul>

         <ul class="logout-mod">
            <li>
               <a href="#">
                  <i class="uil uil-signout"></i>
                  <span class="link-name">Wyloguj się</span>
               </a>
            </li>
         </ul>
      </div>
   </nav> -->
<!-- </aside> -->
<nav class="sidebar">
   <header>
      <div class="image-text">
         <span class="image">
            <img src="../../../assets/logo.png" alt="logo" routerLink="/post-feed">
         </span>
         <div class="text header-text">
            <span class="name">DrummersPage</span>
         </div>

      </div>

      <i (click)="sidebarToggle()" class="uil uil-arrow-right toggle"></i>
   </header>
   <div class="menu-bar">
      <div class="menu">
         <ul class="menu-links">
            <li class="nav-links" routerLink="/post-feed">
               <a>
                  <i class="uil uil-estate icon"></i>
                  <span class="link-name">Home</span>
               </a>
            </li>
            <li *ngIf="logged" class="nav-links" routerLink="/articles">
               <a>
                  <i class="uil uil-newspaper icon"></i>
                  <span class="link-name">Artykuły</span>
               </a>
            </li>
            <li *ngIf="logged" class="nav-links" routerLink="/lessons">
               <a>
                  <i class="uil uil-book-open icon"></i>
                  <span class="link-name">Lekcje</span>
               </a>
            </li>
            <li *ngIf="logged" class="nav-links" routerLink="/licks">
               <a>
                  <i class="uil uil-music icon"></i>
                  <span class="link-name">Zagrywki</span>
               </a>
            </li>
            <li *ngIf="logged" class="nav-links" routerLink="/account">
               <a>
                  <i class="uil uil-user icon"></i>
                  <span class="link-name">Moje konto</span>
               </a>
            </li>
            <li *ngIf="usertype === adminString && logged" class="nav-links" routerLink="/admin-panel">
               <a>
                  <i class="uil uil-setting icon"></i>
                  <span class="link-name">Panel admina</span>
               </a>
            </li>
         </ul>



      </div>
      <div *ngIf="logged" class="bottom-content">
         <li class="" (click)="logout()">
            <a>
            <i class="uil uil-signout icon"></i>
            <span class="link-name">Wyloguj się</span>
            </a>
         </li>

      </div>
   </div>
</nav>