<main id="main" class="main">
    <div class="container has-text-centered">
      <div class="columns">
        <ng-container class="column is-4"  *ngFor="let article of articles">
          <!--<div class="lesson-card"  *ngIf="[lessons_category]==lesson.category">-->
            <div class="article-card"  >
            <div class="date">
              <h3>{{article.date |date:  "dd" }}</h3>
              <h4>{{article.date |date:  "MMMM" }}</h4>
            </div>
            <div class="article-img">
              <img src="https://light.one.pl/articleAttachment/{{article.attachment}}" alt="P1">
            </div>
            <h2>{{article.title}}</h2> 
            <p>{{article.text}}</p>
            <a  (click)="goToArticle(article.id)" class="read-more">Zobacz więcej<i class="fa fa-caret-right"></i> </a>
          </div>
        </ng-container>
      </div>
    </div>
</main>