<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form [formGroup]="signupForm" (ngSubmit)="createUser()" class="box">


                <div class="field">
                    <label for="" class="label">Login</label>
                    <div class="control has-icons-left">
                      <input formControlName="login" type="text" placeholder="Login" class="input" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>

              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input formControlName="email" type="email" placeholder="np. jankowalski@gmail.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>


              <div class="field">
                <label for="" class="label">Hasło</label>
                <div class="control has-icons-left">
                  <input formControlName="password" type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Powtórz hasło</label>
                <div class="control has-icons-left">
                  <input name="repeatPassword" type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>



              <div class="control">
                <label for="" class="label">Typ konta</label>
                <label class="radio">
                  <input formControlName="accType" value="amateur" type="radio" name="answer">
                  Amator
                </label>
                <label class="radio">
                  <input formControlName="accType" value="profi" type="radio" name="answer">
                  Profi
                </label>
              </div>
              

              <div class="block">
              </div>

              <div class="field">
                <button type="submit" class="button is-success">
                  Zarejestruj się
                </button>
              </div>
              <a routerLink = "/login" style = "color: blue;"> Masz już konto? Zaloguj się</a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>