<nav class="navbar has-shadow" role="navigation" aria-label="main navigation" id="header">




  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a  *ngIf="!logged" class="button is-primary" routerLink="/signup" >
          <strong>Zarejestruj się</strong>
        </a>
        <a   *ngIf="!logged" class="button is-light" routerLink="/login">
          Zaloguj się
        </a>
        <p id="getUserNameOutput"  >
          
    </div>
  </div>
</div>
  <i (click)="sidebarToggle()" class="uil uil-bars sidebar-toggle"></i>
</nav>