

  nav {
    position: fixed;
    top:0;
    left: 0px;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 10px 14px;
    background-color: #fff;
      box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    transition: all 0.5s;  
    z-index: 3;
    }
    .navbar-end i{
      opacity: 0;

    }
    @media (max-width: 1199px) {
      .navbar-end i{
   opacity: 100;
   float: right;
  
      }
     } 
.sidebar-toggle{
  font-size: 35px;
  color:  #693fbd;
  cursor: pointer;

}
   
   
    
    
 
  
  