<main id="main" class="main">
    <div class="tiles">
      <div class="tile is-ancestor" >
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical " (click)="goToCategory('piosenki')">
              <article class="tile is-child box">
                <img src="assets/icon/4.png">
                <p class="subtitle" >GATUNKI</p>
              </article>
  
            </div>
            <div class="tile is-parent" (click)="goToCategory('techniki')">
              <article class="tile is-child box">
  
                <img src="assets/icon/5.png">
                <p class="subtitle">POZIOM TRUDNOŚCI</p>
              </article>
            </div>
            <div class="tile is-parent" (click)="goToCategory('zagrywki')">
              <article class="tile is-child box">
                <img src="assets/icon/7.png">
                <p class="subtitle">METRUM</p>
              </article>
            </div>

          </div>
  
        </div>
      </div>
    </div>
   
    <section class="lick">
      <div class="title">Ostatnio dodane zagrywki</div>
      <section class="lick">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-4"  *ngFor="let lick of licks.slice(0, 3)">
            <div class="lick-card">
              <div class="date">
                <h3>{{lick.date |date:  "dd" }}</h3>
                <h4>{{lick.date |date:  "MMMM" }}</h4>
              </div>
              <div class="lick-img">
                <!--<img src="https://light.one.pl/lessonAttachment/{{lesson.attachment}}" alt="P1">-->
              </div>
              <h2>{{lick.title}}</h2>
              <p>{{lick.content}}</p>
              <a  (click)="goToLick(lick.id)" class="read-more">Zobacz więcej<i class="fa fa-caret-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    </section>
    <section class="lick">
      <div class="title">Wszystkie zagrywki</div>
      <section class="lick">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-4"  *ngFor="let lick of licks">
            <div class="lick-card">
              <div class="date">
                <h3>{{lick.date |date:  "dd" }}</h3>
                <h4>{{lick.date |date:  "MMMM" }}</h4>
              </div>
              <div class="lick-img">
                <!--<img src="https://light.one.pl/lessonAttachment/{{lesson.attachment}}" alt="P1">-->
              </div>
              <h2>{{lick.title}}</h2>
              <p>{{lick.content}}</p>
              <a  (click)="goToLick(lick.id)" class="read-more">Zobacz więcej<i class="fa fa-caret-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    </section>
    <section *ngIf="usertype==proString || usertype==adminString" class="lick-create">
      <!--<div *ngIf="usertype==proString" class="title">Dodaj lekcje</div>-->
      <div class="title">Dodaj zagrywkę</div>
      <!--<form *ngIf="usertype===proString" [formGroup]="lessonsForm" (ngSubmit)="createLesson()"></form>-->
  
      <div class="field">
        <label class="label">Tytuł zagrywki</label>
        <div class="control has-icons-left has-icons-right">
          <input id="title" class="input" type="text" placeholder="Text input" value="tytuł">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Treść zagrywki</label>
        <div class="control has-icons-left has-icons-right">
          <input id="text" class="input" type="text" placeholder="Text input" value="treść">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Kategoria zagrywki</label>
        <div class="control">
          <div class="select">
            <select id="category">
              <option>Wybierz kategorię...</option>
              <option>Piosenki</option>
              <option>Techniki</option>
              <option>O sprzęcie</option>
              <option>Zagrywki</option>
              <option>Teoria</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="field is-grouped">
        <input class="input" type="file" accept="image/png" id="fileInput">
  
  
      </div>
  
      
      
      
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click) = "createLick()">Submit </button>
        </div>
  
      </div>
    </section>
  </main>
  