
.tiles{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-items: center;
    }
    .column .is-4
    {
        width: 30%;
      padding: 1rem;
    }
    .columns {
        /* display: flex; */
        flex-wrap: wrap; 
      }
    .subtitle
    {
        text-align: center;
        color: #252537;
        font-weight: 550;
    }
    .lick{
    padding: 60px 0;
    padding-left: 20px;
    padding-right: 10px;
    justify-items: center;
    display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    
    .lick-card {
        background: white;
        padding: 20px;
        border-radius: 5px;
        border: bottom 1px solid ;
        position: relative;
        margin: 100px;
        top: 0px;
        height: 450px;
        width: 250px;
    }
    .date{
        position: absolute;
        top: 0;
        left: 30px;
        z-index: 2;
        background: #252537;
        padding: 15px 10px;
        text-align: center;
        border-radius: 0 0 4px 4px;
    }
     .date h3{
     font-size: 28px;
     font-weight: 700;
     color: #fff;
     display: block;
     margin: 0;
     padding: 0;   
    }
    .date h4{
        color: #eee;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .lick-img{
       width: 100%;
       height: 200px;
       overflow: hidden; 
    }
    .lick-img img{
        width: 100%;
        height: 100%;
        transition: all .3s ease;
    }
    .lick-img img:hover{
      transform: scale(1.2);
    }
    .lick-card h2{
    text-transform: capitalize;
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    margin: 18px 0 10px;
    cursor: pointer;
    transition: all .3s ease;
    
    }
    .lick-card h2:hover{
    color: hotpink;
        }
    .lick-card p{
        color: #777;
        line-height: 21px;
        font-size: 14px;
        margin: 18px 0 10px;
        transition: all .3s ease;
        font-weight: 900;
      
    }
    .read-more{
       color: #fff;
       font-size: 14px;
       font-weight: 700;
      padding: 14px 10% ;
      width: 90%;
    float: auto;
       display: block;
       background-color: #252537;
       text-align: center;
       text-decoration: none;
       transition: all .3s ease;
       bottom: 20px;
       position:absolute;
    }
    .read-more i{
        margin-left: 4px;
       
    }
    .read-more:hover{
        background-color: blueviolet;
        color: #Fff;
    }
    .read-more:hover i{
       margin-left: 6px;
    }
    .lick-create
    {
        padding: 60px 0;
    padding-left: 20px;
    padding-right: 10px;
    }