<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <div  routerLink="/post-feed" class="card-header-title">
              <div class="logo-image">
                <img src="../../../assets/logo.png" alt="">
              </div>
              <span class="logo_name">
                DrummersPage
              </span>
            </div>
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="box">
              <div class="field">
                <label for="" class="label">Login</label>
                <div class="control has-icons-left">
                  <input formControlName="login" type="login" placeholder="login" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <div *ngIf="loginForm.hasError('required', 'login')">
                  Login jest wymagany
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Hasło</label>
                <div class="control has-icons-left">
                  <input formControlName="password1" type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <div *ngIf="loginForm.hasError('required', 'password1')">
                  Hasło jest wymagane
                </div>
              </div>
              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                 Zapamiętaj mnie
                </label>
              </div>
              <div class="field">
                <button type="submit" class="button is-primary">
                  Zaloguj się
                </button>
              </div>
              <a routerLink = "/signup" style = "color: primary;"> Nowy Użytkownik? Zarejestruj się</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>