<div class="hero">
  </div>
<main id="main" class="main">




  <section class="section">

    <!-- <div class="card">
        <div class="card-body">
          <div class="write-post-container">
            <div  class="uil uil-edit icon"></div>
            <div class="user-name">
              <p>User Name</p>
              <small>Public</small>
            <label for="" class="label">Utwórz post</label>
           
            <form [formGroup]="postForm" (ngSubmit)="createPost()">
              <p class="control">
                <input formControlName="title" type="text" class="textarea" placeholder="Dodaj tytuł" rows="1">
              </p>

              <br />
              

              <p class="control">
                <input formControlName="text" type="text" class="textarea" placeholder="Dodaj treść">
              </p>
              <br />
              <nav class="level">
                <div class="level-right">
                  <div class="level-item">
                    <button type="submit" class="button is-primary" >Dodaj</button>
                  </div>
                </div>
              </nav>

            </form>
            </div>
         
          </div>
        </div>
      </div>
    -->
    <div class="card">
      <form [formGroup]="postForm" (ngSubmit)="createPost()">
        <div class="write-post-container">
          <div class="user-profile">
            <i class="uil uil-edit fa-xl icon-profile"></i>
            <div>
              <p>Jadzia Burak</p>

              <small> <select id="visibility">
                  <option value="1">Publiczny</option>
                  <option value="0">Prywatny</option>
                </select></small>

            </div>
          </div>


          <div class="post-input-container">
            <textarea formControlName="title" type="text" rows="2" placeholder="Dodaj tytuł posta"></textarea>
            <textarea formControlName="text" type="text" rows="3" placeholder="Dodaj treść posta"></textarea>

            <div class="add-post-links">

              <div class="file">
                <label class="file-label">
                  <input class="file-input"formControlName="attachment" id="selectAvatarPng" type="file" name="resume" accept=".png">
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-images fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Zdjecie
                      </span>

                    </a>
                  </div>


                </label>

              </div>
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" accept=".mp3">
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-music fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Dźwięk
                      </span>
                    </a>
                  </div>

                </label>

              </div>
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" accept=".mp4">
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-video fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Film
                      </span>
                    </a>
                  </div>

                </label>

              </div>
              <div class="file">
                <label class="file-label">
                  <input style="border:none" class="file-input" type="file" name="resume" accept=".pdf" />
                  <div class="add-post-links">
                    <a> <span class="file-icon">
                        <i class="uil uil-file-upload-alt fa-lg"></i>
                      </span>
                      <span class="file-label">
                        Dokument
                      </span>
                    </a>
                  </div>

                </label>

              </div>
              <button type="submit" class="button is-primary">Dodaj</button>
            </div>
          </div>

        </div>

      </form>
    </div>

    <div style="margin: 24px;">
      <h2>Upload Image</h2>
    </div>


    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img" id="avatar" />
        </div>
        <div class="col">
          <textarea id="textArea" rows="30" cols="50"></textarea>
        </div>
      </div>
    </div>

  </section>
  <section class="section">
    <div class="columns">
      <div class="column">
        <div class="card" *ngFor="let post of posts">
          <div class="post-container">

            <h1> {{post.title}}</h1>
            <span> @{{post.author}}</span>
     
            <iframe width="100%" height="10%" style="overflow: hidden;" [src]='sanitizer.bypassSecurityTrustResourceUrl(backAddress+"postAttachment/"+post.attachment)' frameborder="0" allowfullscreen>></iframe>
            <p class="post-text">{{post.content}}</p>
            <span >
              {{ post.date | date:'dd.MM.yyyy - HH:mm'}}
            </span>
            <a *ngIf="post.author === username" class="button is-light" (click)="deletePost(post.id)">
              Usuń post
            </a>
          </div>
        </div>
      </div>
    </div>



  </section>

</main>