<div class="hero">
</div>
<main id="main" class="main">

  <div class="ad">
    <p>Sponsorowane</p>
    <img
      src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/save-on-glasses-optik-store-banner-design-template-074f98f201084d4230fe8f40be6f1719_screen.jpg?ts=1625644351">

  </div>
  <div class="columns">
    <div class="column is-12">
      <section class="section">

        <div *ngIf="logged" class="card">
          <form [formGroup]="postForm" (ngSubmit)="createPost()">
            <div class="write-post-container">
              <div class="user-profile">
                <i class="uil uil-edit fa-xl icon-profile"></i>
                <div>
                  <p>Jadzia Burak</p>

                  <small> <select id="visibility">
                      <option value="1">Publiczny</option>
                      <option value="0">Prywatny</option>
                    </select></small>

                </div>
              </div>


              <div class="post-input-container">
                <textarea formControlName="title" type="text" rows="2" placeholder="Dodaj tytuł posta"></textarea>
                <textarea formControlName="text" type="text" rows="3" placeholder="Dodaj treść posta"></textarea>

                <div class="add-post-links">

                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" formControlName="attachment" id="selectAvatarPng1" type="file"
                        name="resume" accept=".png">
                      <div class="add-post-links">
                        <a> <span class="file-icon">
                            <i class="uil uil-images fa-lg"></i>
                          </span>
                          <span class="file-label">
                            Zdjecie
                          </span>

                        </a>
                      </div>


                    </label>

                  </div>
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume" id="selectAvatarPng2" accept=".mp3">
                      <div class="add-post-links">
                        <a> <span class="file-icon">
                            <i class="uil uil-music fa-lg"></i>
                          </span>
                          <span class="file-label">
                            Dźwięk
                          </span>
                        </a>
                      </div>

                    </label>

                  </div>
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" type="file" id="selectAvatarPng3" name="resume" accept=".mp4">
                      <div class="add-post-links">
                        <a> <span class="file-icon">
                            <i class="uil uil-video fa-lg"></i>
                          </span>
                          <span class="file-label">
                            Film
                          </span>
                        </a>
                      </div>

                    </label>

                  </div>
                  <div class="file">
                    <label class="file-label">
                      <input style="border:none" class="file-input" id="selectAvatarPng4" type="file" name="resume"
                        accept=".pdf" />
                      <div class="add-post-links">
                        <a> <span class="file-icon">
                            <i class="uil uil-file-upload-alt fa-lg"></i>
                          </span>
                          <span class="file-label">
                            Dokument
                          </span>
                        </a>
                      </div>

                    </label>

                  </div>
                
                  <button type="submit" class="button is-primary">Dodaj</button>
                
                </div>
              </div>

            </div>

          </form>
        </div>

    



      </section>
      <section class="section">
        <div class="columns">
          <div class="column">
            <div class="card" *ngFor="let post of posts">
              <div class="post-container">

                <h1> {{post.title}}</h1>
                <span> @{{post.author}}</span>


                <iframe scrolling="no" 
                  [src]='sanitizer.bypassSecurityTrustResourceUrl(backAddress+"postAttachment/"+post.attachment)'
                  frameborder="0" allowfullscreen></iframe>
                <p class="post-text">{{post.content}}</p>
                <span>
                  {{ post.date | date:'dd.MM.yyyy - HH:mm'}}
               
                  <div class="buttons">
                    <a *ngIf="post.author === username" class="button is-light" (click)="deletePost(post.id)">
                      Usuń post
                    </a>
                    </div>
                </span>
                
              </div>
            </div>
            <div *ngIf="!logged" class="card" >
              <div class="post-container empty">

                <h1>To wszystko, co możemy Ci pokazać <i class="uil uil-frown fa-lg"></i></h1>
                <h1>Zaloguj się lub załóż konto, aby zobaczyć więcej</h1>


             
                
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>


  </div>

</main>