<div class="hero">
    <ng-container class="section" *ngFor="let lesson of lessons">
        <div class="container has-text-centered" *ngIf="[lesson_ID]==lesson.id">
       <div class="category">LEKCJE<span class="dot"> · </span>{{lesson.category}}</div>
            <div class="title">{{lesson.title}}</div>
        <div class="subtitle">{{lesson.content}}</div>
        <div class="author">Autor:&nbsp; {{lesson.author}}</div>
        <div class="date">Upublikowano:&nbsp; {{lesson.date|date:  "dd MMMM y"}}</div>

    </div>
    </ng-container>
</div>
<main id="main" class="main">
    <section class="section">
        <div class="columns">
            <div class="column is-centered">
                <div class="card has-text-centered" *ngFor="let lesson of lessons">

                    <div class="card-body " *ngIf="[lesson_ID]==lesson.id">
                        
                             <img *ngFor="let attachment of lesson.attachments" class="center" src="https://i.guim.co.uk/img/media/13223421bfc4bd1c8cee8945a6fc446adc3e83da/0_193_2879_1727/master/2879.jpg?width=620&quality=45&dpr=2&s=none">
                       <p>sadsadasdsadasdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                       
                            </div>
                    </div>

                </div>
            </div>
    </section>
    
</main>